@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Debts</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Roomie💚💜</th>
                <th>Debt 📉</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chauncey</td>
                <td>$10</td>
            </tr>
            <tr>
                <td>Josh</td>
                <td>$1,337.00</td>
            </tr>
        </tbody>
    </table>
</div>
